* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", sans-serif;
}

.limitation-main{
    width: 120rem;
    margin: 0 auto;
}

.semi-limited{
    width: 78rem;
    margin: 0 auto;
}

.maxi-limited{
    width: 68rem;
    margin: 0 auto;
}

header.limitation-main{
    margin-bottom: 5rem;
    width: 100vw;
}

.horizontal-alignment{
    display: flex;
    flex-direction: row;
}

section.navigation-section{
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100%;
}

[alt="dropbox logo"] {
    height: 1.8rem;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

ul{
    list-style-type: none;
}

header a{
    margin: 0.5rem 1rem;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem
}

section.header-content{
    position: relative;
}

section.header-text{
    width: 22rem;
}

section.jumbotron img {
    width: 55rem;
    position: absolute;
    right: 0;
}

header h1{
    line-height: 5.5rem;
    font-size: 4.5rem;
    font-weight: 900;
    padding: 9.5rem 0 3.5rem 0;
}

header p{
    line-height: 1.5rem;
}

section.jumbotron button{
    margin: 2rem 0;
}

body > header i{
    margin: 4rem 0 1.5rem 0;
    font-size: 3rem;
    font-size: bold;
}

button{
    border: none;
}

section.fatturazione{
    padding: 3rem 0;
}

h2{
    font-size: 2.5rem;
}

section.input{
    margin: 2rem 0;
}

[type="radio"]:last-of-type {
    margin-left: 2rem
}

section.piani{
    justify-content: space-between;
}

article.border{
    border: 2px solid #dfdfe1;
}

section.fatturazione article{
    width: calc((68rem / 3) - 2rem);
}

article > header {
    border-bottom: 2px solid #dfdfe1;
    padding: 1rem;
    justify-content: center;
}

a.blue-color{
    text-decoration: underline;
}

article hr{
    width: 3.5rem;
    margin-top: 1rem;
    border-color: #e7e7e9;
}

article > main {
    padding: 2rem 2rem;
}

article > main h3{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

article > main p.gray-color{
    padding: 0.7rem 0;
    font-size: 0.8rem;
}

article > main > section{
    padding: 1rem 0;
}

.funzionalita{
    display: flex;
    flex-direction: column;
}

.funzionalita > *{
    padding: 0.5rem 0;
    font-weight: 300;
    font-size: 1rem;
}

article i{
    margin-right: 0.5rem;
}

.funzionalita > button {
    padding: 0.6rem 2.3rem;
    margin: 2.5rem 0 1rem 0;
    width: 90%;
    align-self: center;
}

.funzionalita > button > a{
    font-size: 0.8rem;
    font-weight: 400;
}

section.bonus{
    margin: 2rem 0 0 0;
}

section.bonus > h4{
    margin: 0 0 1.5rem 0 ;
}

section.bonus > div {
    margin: 1rem 0;
}

article.enterprise > main > div{
    justify-content: space-between;
}

article.enterprise section.text{
    width: 70%;
}

article.enterprise button{
    padding: 0.8rem 1.8rem;
}

article.enterprise section.text p{
    margin-top: 2.5rem;
}

section.partner{
    padding: 3rem 0;
    margin: 4rem auto;
}

section.partner section.img{
    width: 230%;
}

section.partner img{
    width: 100%;
}

section.partner section.text{
    padding: 3rem;
}

section.partner section.text h3{
    font-size: 1.5rem;
}

section.partner section.text p{
    margin: 1rem 0 1.5rem 0;
}

section.partner section.text button{
    padding: 0.7rem 1rem;
    background-color: white;
    border: 2px solid black;
}

section.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.container > article{
    width: calc((68rem / 3) - 2rem);
    padding: 2rem 0;
}

section.container > article > img {
    width: 100%;
}

section.container > article > h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

section.container > article > p{
    font-size: 1.1rem;
}

section.operazioni{
    margin-bottom: 8rem;
}

section.operazioni h2{
    margin: 5rem 0 2rem 0;
}

section.squares {
    height: 40rem;
}

section.squares > section > article {
    height: 20rem;
    aspect-ratio: 1/1;
    position: relative;
}

section.squares > section > article >img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    
}

section.container-4x4{
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
}

section.squares > div{
    background-color: #f5f5f5;
}

article.big-section{
    flex-grow: 1;
    width: calc(100vw - 80rem);
    padding: 3rem;
    overflow: scroll;
    max-height: 40rem;
}

article.big-section img{
    width: 60%;
}

article.big-section p{
    margin: 2.5rem 0;
}

section.prova-gratuita {
    padding: 6rem 0;
    justify-content: space-between;
}

section.prova-gratuita h2{
    width: 50%;
}

section.prova-gratuita button {
    margin-top: 0.4rem;
    height: 3rem;
    width: 17rem;
    background-color: white;
}

section.faq{
    margin: 6rem auto;
}

.faq > h2{
    margin-bottom: 3rem;
}

.faq > section {
    justify-content: space-between;
    padding: 2rem 1rem 2rem 0 ;
    border-top: 1px solid #716c65;;
}

.faq > section:last-of-type {
    border-bottom: 1px solid #716c65;;
}

footer{
    padding: 5rem 0 3rem 0;
}

footer > section.horizontal-alignment{
    justify-content: space-between;
    margin-bottom: 5rem;
}

footer > section.horizontal-alignment h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer > section.horizontal-alignment a{
    line-height: 2.5rem
}

footer hr{
    width: 10rem;
}

section.language section{
    margin-top: 2rem;
}

section.language p{
    margin: 0 0.6rem;
}

/* ! img section */

#designit {
    background-color: #a2d39b;
    border: 15px #d1e9cd solid;
}

#asu {
    background-color: #61082b;
}

#uf {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

#wbr {
    background-color: #d5001f;
}

#hearst {
    background-color: #b4d0e7;
}

#lonely {
    background-color: #0d2481;
}

#clear{
    background-color: #ffd830;
}

/* ? color section*/

.gray-color{
    color: #716c65;
}

.azure-back{
    background-color: #0061ff;
}

.white-color{
    color: white;
}

.light-blue-back{
    background-color: #b4d0e7;
}

.azure-color{
    color: #005eff;
}

.blue-color{
    color: #1414ef;
}

.bordeaux-color{
    color: #61082a;
}

.black-back{
    background-color: black ;
}