* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", sans-serif;
}

.limitation-main{
    width: 120rem;
    margin: 0 auto;
}

.horizontal-alignment{
    display: flex;
    flex-direction: row;
}

section.navigation-section{
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem;
}

[alt="dropbox logo"] {
    height: 1.8rem;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    margin: 0.5rem 1rem;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem
}

section.header-content{
    position: relative;
}

.semi-limited{
    width: 78rem;
    margin: 0 auto;
}

.maxi-limited{
    width: 70rem;
    margin: 0 auto;
}

section.header-text{
    width: 22rem;
}

section.jumbotron img {
    width: 55rem;
    position: absolute;
    right: 0;
}

header h1{
    line-height: 5.5rem;
    font-size: 4.5rem;
    font-weight: 900;
    padding: 4.5rem 0 3.5rem 0;
}

header p{
    line-height: 1.5rem;
}

section.jumbotron button{
    margin: 2rem 0;
}

header i{
    margin: 4rem 0 1.5rem 0;
    font-size: 3rem;
    font-size: bold;
}

.gray-color{
    color: #3f3f3f;;
}

.azure-back{
    background-color: #0061ff;
}

.white-color{
    color: white;
}

.light-blue-back{
    background-color: #b4d0e7;
}

button{
    border: none;
}