*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ! GENERALI */
html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.horizontal-alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.search-bar {
    border: 1px solid #9da7b0;
    font-size: 0.8rem;
    color: #9da7b0;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="search"]{
    border: none;
    width: calc(100% - 1rem);
}

.container{
    width: 100rem;
    margin: 0 auto;
}

/* ! HEADER */

header{
    position: fixed;
    width: 100vw;
}

header .search-bar{
    width: 7rem;
}

header section.top{
    justify-content: space-between;
    padding: 1.5rem;
}

header li{
    margin: auto 0.7rem;
    font-size: 1rem;
}

/* ! MAIN */

main{
    padding-top: 6.5rem;
}

main section.first-info {
    width: 100vw;
}

main section.first-info > *{
    width: 50%;
    height: 15rem;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

main section.first-info h1 {
    font-size: 3rem;
    font-weight: 400;
}

main section.search-bar{
    background-color: white;
    font-size: 1.3rem;
}

main i{
    color: #1d4f76;
}

main input[type="search"] {
    height: 3rem;
    font-size: 1.3rem;
}

/* ? COLORS */
.gray-color{
    color: #6d7074;
}

.brown-back {
    background-color: #1e1919;
}

.white-color{
    color: white;
}

.azure-back{
    background-color: #b4c8e1;
}

.beige-back{
    background-color: #f7f5f2;
}